# Sandbox for sklearn 101

In [16]:
import sklearn,numpy as np, pandas as pd, pprint

In [17]:
train_df = pd.read_csv('act_train.csv')

In [18]:
train_df.dtypes

people_id            object
activity_id          object
date                 object
activity_category    object
char_1               object
char_2               object
char_3               object
char_4               object
char_5               object
char_6               object
char_7               object
char_8               object
char_9               object
char_10              object
outcome               int64
dtype: object

In [19]:
train_df.values

array([['ppl_100', 'act2_1734928', '2023-08-26', ..., nan, 'type 76', 0L],
       ['ppl_100', 'act2_2434093', '2022-09-27', ..., nan, 'type 1', 0L],
       ['ppl_100', 'act2_3404049', '2022-09-27', ..., nan, 'type 1', 0L],
       ...,
       ['ppl_99994', 'act2_536973', '2023-01-19', ..., nan, 'type 1', 1L],
       ['ppl_99994', 'act2_688656', '2023-05-02', ..., nan, 'type 199', 1L],
       ['ppl_99994', 'act2_715089', '2023-06-15', ..., nan, 'type 1', 1L]], dtype=object)

In [20]:
train_df.head(5)

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [21]:
train_df['activity_category'].unique()

array(['type 4', 'type 2', 'type 3', 'type 5', 'type 1', 'type 7', 'type 6'], dtype=object)

In [22]:
train_df['char_10'].unique() # 6516 unique values

array(['type 76', 'type 1', 'type 1727', ..., 'type 7356', 'type 6865',
       'type 7379'], dtype=object)

In [23]:
# Count unique keys (classes)
act_col = train_df.columns
summary_act_df = [len(train_df[col].unique()) for col in act_col]
pd.DataFrame(summary_act_df,act_col)

                         0
people_id           151295
activity_id        2197291
date                   411
activity_category        7
char_1                  52
char_2                  33
char_3                  12
char_4                   8
char_5                   8
char_6                   6
char_7                   9
char_8                  19
char_9                  20
char_10               6516
outcome                  2

# --------------------------------------------------

In [24]:
people_df = pd.read_csv('people.csv')

In [25]:
people_df.head(5)

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84

In [26]:
people_col = people_df.columns
summary_ppl_df = [len(people_df[col].unique()) for col in people_col]
pd.DataFrame(summary_ppl_df,people_col)

                0
people_id  189118
char_1          2
group_1     34224
char_2          3
date         1196
char_3         43
char_4         25
char_5          9
char_6          7
char_7         25
char_8          8
char_9          9
char_10         2
char_11         2
char_12         2
char_13         2
char_14         2
char_15         2
char_16         2
char_17         2
char_18         2
char_19         2
char_20         2
char_21         2
char_22         2
char_23         2
char_24         2
char_25         2
char_26         2
char_27         2
char_28         2
char_29         2
char_30         2
char_31         2
char_32         2
char_33         2
char_34         2
char_35         2
char_36         2
char_37         2
char_38       101